<div class="container">
  <div class="row">
    <div class="col title">
      <h1>Orders</h1>
    </div>
  </div>
  <div class="row">
    <div class="col top-buttons">
      <button class="btn btn-success" (click)="createOrder()">
        create order</button
      ><button class="btn btn-danger" (click)="logout()">logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col orders-list">
      <ul *ngFor="let order of orders" class="list-group">
        <li class="list-group-item order">
          <div class="name-date">
            <p>{{ order.date | date: 'short' }}</p>
          </div>
          <div class="name-date">
            <p>Order Number: {{ order.id }}</p>
          </div>
          <div class="view-delete">
            <button class="btn btn-primary" (click)="viewOrder(order.id)">
              view
            </button>
            <button class="btn btn-danger" (click)="deleteOrder(order.id)">
              delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
