<div class="containers">
  <div class="row">
    <div class="col">
      <div class="title">
        <h1>Harvest Bakery</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="landing-buttons">
        <button type="button" class="btn btn-primary" (click)="goToLoginPage()">
          Login
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="intro-image">
        <img
          src="../../assets/landing_page.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</div>
