.intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.landing-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 2em;
}

.landing-buttons > button {
  margin: 0.5em;
  font-size: 2em;
}
