@import '~bootstrap/dist/css/bootstrap.css';

div {
  font-family: 'Pacifico', cursive;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

body {
  background-color: darkblue;
  color: white;
}
